.card-column {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    padding: 20px;
}

#IMG { 
    height: 100%;
    width: 100%;
    object-fit:cover !important;
}

.card-img-overlay:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: .3s ease;
}


.project-card {
    border: none !important;
    /* border-radius: 10px !important; */
    height: 250px;
    width: 400px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center !important;
    text-align:center;
}

.card-img-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-overlay a{
    font-size: 40px !important;
    color: white !important;
    opacity: 0;
    text-decoration: none;
    text-align: center;

}

.card-img-overlay a:hover{
    opacity: 1;
    transition: .3s ease;
    cursor: pointer !important;
}

