img {
    width: 70%; 
    height: 70%;
}

#ludicrousProjects {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* margin: 50px; */
}

.piece {
    padding: 50px;
}

.piece p{
    font-size: 30px;
    color: grey;
    padding: 20px;
}

#tableTopIMG img{
    width:40%;
    height:40%;
}

#dancingOnBarrelsIMG img{
    width:40%;
    height:40%;
}



